header {
	.top-header {
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
		padding: 20px 0;


		.container {
			display: grid;
			grid-template-columns: 120px 1fr;	
			justify-items: end;
			align-items:center;

			padding: 0 15px;
			box-sizing: border-box;

			#logo {
				img {
					max-width: 100%;
				}
			}

			#profile {
				height: 45px;

				img {
					max-width: 45px;
					border-radius: 50%;
				}
			}
		}
	}

	.bottom-header {
		box-shadow: inset 1px 4px 9px -6px;
		background-color: $primary;

		.container {
			display: grid;
			grid-template-columns: repeat(4,1fr);

			justify-items: center;	

			margin: 0 auto;
			padding-top: 20px;
			
			.nav-item {
				padding-bottom: 10px; 
				border-bottom: 6px solid $primary;

				@include transition(all .2s ease-out); 

				span {
					display: none;

					color: #eee;
					text-decoration: none;

					@include transition(all .2s ease-out); 
				}

				svg {
					path {
						fill: #fff;
					}
				}

				&:hover,
				&:focus,
				&:active,
				&.active {
					border-bottom-color: #fff;

					span {
						color: #fff;
						font-weight: 500;	
					}
				}
			}
		}
	}
}

@media (min-width: 480px) {
	header {
		.top-header {
			padding: 30px 0;

			.container {
				grid-template-columns: 180px 1fr;

				#profile {
					height: 55px;

					img {
						max-width: 55px;
					}
				}
			}
		}

		.bottom-header .container {
			padding-top: 70px;

			.nav-item {
				padding-bottom: 20px; 
				font-size: 20px;
				
				span {
					display: inline-block;
				}

				svg {
					display: none;
				}
			}
		}
	}
}

@media (min-width: 769px) {
	header {
		.top-header {
			padding: 40px 0;

			.container {
				grid-template-columns: 200px 1fr;
			}
		}
	}
}