.controls {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 1fr;

	margin-top: 20px;
	padding: 0 15px;
	
	.filter-wrapper {
		align-self: center;

		a {
			color: $primary;
		}
	}
}

@media (min-width: 480px) {
	.controls {
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: 1fr;

		margin-top: 60px;


		select, 
		.filter-wrapper {
			max-width: 300px;
		}

		.filter-wrapper { 
			margin-left: 15px;
		}

		button {
			width: 250px;
			justify-self: end;
		}
	}
}

.results {
	padding: 0 15px; 

	.footable.table {
		margin-top: 20px;

		thead>tr>th {
			padding: 15px 0 15px 15px;

			font-family: Montserrat;
			font-weight: 300;
			color: #A8A8A8;
			letter-spacing: 0.88px;
			text-transform: uppercase;
			border-bottom: 1px solid $light-grey;	
		}

		tbody {
			tr {
				@include transition(all .2s ease-out); 

				&:hover,
				&:focus,
				&:active,
				&.selected {
					background-color: $light-hover;

					td {
						font-weight: 700;
					}
				}
				
				td {
					padding: 15px;
					border-top: 0 none;
				}
				
			}
		}
		
		tfoot>tr>td {
			border-top: 1px solid $light-grey;	
		}

		tfoot tr:hover,
		tfoot tr:focus,
		tfoot tr:active,
		tfoot tr.selected {
			background-color: #fff;
		}
	}
}


@media (min-width: 480px) {
	.footable.table {
		margin-top: 50px;

		thead>tr>th {
			font-size: 20px;
		}

	}
}

@media (min-width: 769px) {
	.results {
		padding: 0;
	}
}

.footable-pagination-wrapper {
	.pagination {
		li {
			a {
				font-family: 'Fira Sans', sans-serif;
				font-size: 18px;
				color: $grey;
				font-weight: 300;
		 		border: 0 none;
				
				@include transition(all .2s ease-out); 

		 		&:focus,
				&:hover,
				&:active {
					color: #fff;
					background-color: $grey;
				}
			}	
		}

		.active a {
			background-color: $grey;

			&:focus,
			&:hover,
			&:active {
				background-color: $grey;
			}
		}

		.disabled>a {
			color: #fff;

			&:focus,
			&:hover,
			&:active {
				background-color: $grey;
				color: $grey;
			}
		}
	}

	.label-default {
		display: none;
	}

	li[data-page='first'],
	li[data-page='last'],
	li[data-page='prev-limit'],
	li[data-page='next-limit'] {
		display: none;
	}

	li[data-page='prev'] a,
	li[data-page='next'] a {
		color: #fff;

		&:before {
		    content: "";
		    display: inline-block;
		    left: 0;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 6.5px 7px 6.5px 0;
		    border-color: transparent $grey transparent transparent;
		}

		&:hover, 
		&:focus, 
		&:active {
			color: $grey;

			&:before {
				border-color: transparent #fff transparent transparent;
			}
		}
	}

	li[data-page='next'] a {
		&:before {
    		border-width: 6.5px 0 6.5px 7px;
    		border-color: transparent transparent transparent #a8a8a8;
    	}


		&:hover, 
		&:focus, 
		&:active {

			&:before {
				border-color: transparent transparent transparent #fff;
			}
		}
	}
}

.temp-content {
	margin-top: 30px;
	text-align: center;
}

#agency-information {
	padding: 50px 15px;
	background-color: $light;

	.container-wrapper {
		background-color: #fff;
		border: 1px solid $dark-grey;
	}
	
	.tabs {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: start;
		
		.tab {

			.custom-tab {
				height: 1.8em;
				visibility: hidden;
			}

			.tab-label {
				cursor: pointer;
				display: block;
				font-size: .8em;
				line-height: 1.8em;
				padding: 0 1.5em;
				text-align: center;
				
				border-bottom: 4px solid $light;

				@include transition(all .2s ease-out); 

			}	

			.custom-tab:checked,
			.custom-tab:hover,
			.custom-tab:focus,
			.custom-tab:active {

				& + .tab-label {
					border-bottom-color: $dark-grey;
					font-weight: 400;
				}
			}
		}
	}


	#tabs-content {
		display: grid;
		grid-template-columns: 1fr;

		min-height: 15em;
		width: 100%;
		z-index: 5;

		#information-content,
		#states-content,
		#policies-content {
			grid-row-start: 1;
			grid-column-start: 1;
		}

		.content-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;

			opacity: 0;
			padding: 30px 0;

			&.visible {
				opacity: 1;
			}

			.info-field {
			    display: grid;
				grid-template-columns: 1fr 1fr;
				// grid-column-gap: 20px;

				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				label {
					justify-self: end;
					font-family: Fira Sans, sans-serif;
				}

				span {
					justify-self: start;

					font-weight: 800;
					color: $dark;
				}
			}

			.edit-link {
				color: $primary;
				grid-column-start: 2;
				justify-self: end;
				z-index: 999;
			}
		}

		#information-content.content-wrapper {
			justify-items: center;
			grid-row-gap: 30px;

			.edit-link svg {
				vertical-align: bottom;
				margin-right: -8px;
			}
		}

		

		#states-content.content-wrapper,
		#policies-content.content-wrapper {
			.edit-link svg {
				width: 13px;
				margin-right: 4px;

				path {
					stroke: $primary;
				}
			}

			.items {
				.arrow {
					width: 13px;
					background: url('../images/arrow-icon.svg') no-repeat 0 center;
					transform: rotateX(90deg);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#agency-information {
		padding: 50px 0;

		.tabs {
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;

			.tab {
				&:first-child {
					justify-self: end;
				}

				&:last-child {
					justify-self: start;
				}

				.custom-tab {
					height: 2.5em;
				}

				.tab-label {
					font-size: 1em;
					line-height: 2.5em;
				}
			}
		}
	}
}


