// Colors
$primary: #219DA6;
$light-hover: #e6eeef;

$grey: #a8a8a8;	
$light-grey: #c9c9c9;
$dark-grey: #5e5e5e;

$dark: #303030;

$light: #f6f6f6;

$yellow: #f2d724;

//sizes
$form-elements-height: 40px;